body {  background-image:url(images/bg2.gif); background-color:#E3E3E3; text-align:center;font-size: 12px;font-family:Verdana, 宋体, fantasy; margin:0 }
.width{ width:770px;background-image:url(images/bodybg1.gif);}
#top{ background-image:url(images/top2.jpg); width:770px; height:102px; text-align:left}
#bodyTop{ background-image:url(images/bodyTop.gif);width:770px;  background-repeat:no-repeat;}

#sav{ background-image:url(images/sav2.gif); padding:7px;text-align:right; margin-top:2px}
#sav A
{
	color: #FFFFFF;
	text-decoration: none;
}

.up_bg{ background-image:url(images/leftUp2.gif); padding:4px; text-align:left; background-repeat:no-repeat; font-weight:800; color:#FFF}
.down_bg{ background-image:url(images/leftDown2.gif); padding:4px; text-align:left; background-repeat:no-repeat; font-weight:800; color:#FFF}

.border{border:#D1D1D1 solid 1px; width:100%; float:left; padding:4px;background-image:url(images/leftbg2.gif)}

.modelTitle{ background-image:url(images/rightUp2.gif); padding:5px 5px 5px 25px;  font-weight:800; text-align:left}
.modelTitleDown{ background-image:url(images/rightDown2.gif); padding:5px 5px 5px 25px;  font-weight:800; text-align:left}

.item{  width:210px; margin-top:5px; text-align:left}

.msgBoder{ border:1px #ccc solid}
#msgTitle{background-color: #E3E3E3; padding: 3px}
#msgTime{ width:530px; text-align:right;color:Gray}
#resumeBg{'background-color:#E8F0F1;border:1px #ccc solid}