<?xml version="1.0" encoding="utf-8"?>
<InfoSite>
  <InfoCreateNum>1000</InfoCreateNum>
  <SpecialInfoCreateNum>5</SpecialInfoCreateNum>
  <SearchTime>3</SearchTime>
  <SearchResultPageSize>100</SearchResultPageSize>
  <IsOpenViewerDig>False</IsOpenViewerDig>
  <ImgUploadType>.gif|.jpg|.jpeg|.bmp|.png</ImgUploadType>
  <VideoUploadType>.wmv|.asf|.avi|.mpg|.ram|.rm|.swf</VideoUploadType>
  <AudioUploadType>.mid|.mp3.wma</AudioUploadType>
  <SoftUploadType>.rar|.zip</SoftUploadType>
  <OtherUploadType>.html|.htm</OtherUploadType>
  <HistoryTime>60</HistoryTime>
</InfoSite>