<?xml version="1.0" encoding="utf-8"?>
<Site>
  <SequenceNum>*****</SequenceNum>
  <SiteName>酷源CMS|-51aspx</SiteName>
  <Domain>http://localhost</Domain>
  <LogoAddress>
  </LogoAddress>
  <BannerAddress>
  </BannerAddress>
  <CopyRight>© 2007-2010 Kycms.Inc. 四川成都酷源科技发展有限公司.版权所有</CopyRight>
  <IsStaticType>False</IsStaticType>
  <IsAbsPathType>False</IsAbsPathType>
  <Keyword>
  </Keyword>
  <KeyContent>51aspx,test</KeyContent>
  <IndexTemplatePath>/Template/index.html</IndexTemplatePath>
  <PageType>1</PageType>
  <EmailServerAddress>smtp.xxx.com</EmailServerAddress>
  <EmailServerUserName>1@11.com</EmailServerUserName>
  <EmailServerUserPass>qqq</EmailServerUserPass>
  <IsAllowRegsite>True</IsAllowRegsite>
  <IsTestEmail>False</IsTestEmail>
  <DefaultUserGroup>0</DefaultUserGroup>
  <LogErrorNum>5</LogErrorNum>
  <IsLoginValidate>True</IsLoginValidate>
  <IsCommentValidate>False</IsCommentValidate>
  <IsAllowCommentNoName>True</IsAllowCommentNoName>
  <IsAddCommentEditor>False</IsAddCommentEditor>
  <FilterStr>
  </FilterStr>
  <GUnitName>个</GUnitName>
  <IsImgWaterMark>True</IsImgWaterMark>
  <WaterMarkStr>kycms.com</WaterMarkStr>
  <WaterMarkFontSize>12</WaterMarkFontSize>
  <WaterMarkFontName>华文细黑</WaterMarkFontName>
  <WaterMarkFontColor>006699</WaterMarkFontColor>
  <WaterMarkIsBold>False</WaterMarkIsBold>
  <WaterMarkPath>/Images/logo.gif</WaterMarkPath>
  <WaterMarkHW>8|16</WaterMarkHW>
  <WaterMarkLight>50</WaterMarkLight>
  <WaterMarkPos>3</WaterMarkPos>
  <IsOpenRZM>False</IsOpenRZM>
  <DisabledLoginTime>20</DisabledLoginTime>
  <IsOpenInvite>True</IsOpenInvite>
  <GNumber>2</GNumber>
  <G_Score>1</G_Score>
  <G_Day>3</G_Day>
  <LoginScore>20</LoginScore>
  <UserClassCount>5</UserClassCount>
  <IsOpenRegLink>False</IsOpenRegLink>
  <IsCheckLink>False</IsCheckLink>
</Site>