<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{Ky_首页/频道/栏目名称}</title>
<link href="/Template/images/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
<table width="900" border="0" cellpadding="0" cellspacing="0" class="bg1 td1">
  <tr>
    <td width="200" align="center"><a href="#"><img src="/Template/images/kycms.gif" alt="酷源网站管理系统" border="0" longdesc="http://www.kycms.com" /></a></td>
    <td align="right" style="padding:0px 15px 0px 0px;">今天是：&nbsp;
{Ky_日期调用}</td>
    <td width="60">{Ky_RSS}</td>
  </tr>
</table>
<table width="900" border="0" cellpadding="0" cellspacing="0" class="td1 banner">
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="td1 dhbg">
  <tr>
    <td width="50" align="center"><img src="/Template/images/icon1.gif" width="12" height="12" /></td>
    <td>&nbsp;<a href="/">首 页</a>┋{Ky_全站导航}</td>
  </tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" class="td1">
  <tr>
    <td width="40" align="center" class="erdh">&nbsp;→ </td>
    <td class="erdh">&nbsp;{Ky_频道导航} </td>
  </tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="td2">
  <tr>
    <td valign="top" class="ybg" style="padding-top:5px;"><table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:5px;">
  <tr>
    <td width="40" align="center" class="patha">&nbsp;¤</td>
    <td class="patha">&nbsp;您现在的位置：{Ky_当前位置}</td>
  </tr>
    </table>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="240" height="195" align="center" valign="middle" class="hdbg">{Ky_首页幻灯}</td>
        <td width="5"> </td>
        <td valign="top" class="bor1"><script language='javascript'>
var tID=0;
function ShowTabs(ID){
  if(ID!=tID){
    TabTitle[tID].className='title2';
    TabTitle[ID].className='title1';
    Tabs[tID].style.display='none';
    Tabs[ID].style.display='';
    tID=ID;
  }
}
        </script>
          <table width="100%" border="0" cellspacing="0" cellpadding="0" class="abg_1">
            <tr>
              <td id="TabTitle" class="title1" onmouseover="ShowTabs(0)" >最新新闻</td>
              <td width="1"></td>
              <td width="1" bgcolor="CCC6C6"></td>
              <td width="1"></td>
              <td id="TabTitle" class="title2" onmouseover="ShowTabs(1)">推荐新闻</td>
              <td width="1"></td>
              <td width="1" bgcolor="CCC6C6"></td>
              <td width="1"></td>
              <td id="TabTitle" class="title2" onmouseover="ShowTabs(2)">新闻导读</td>
              <td width="1"></td>
              <td width="1" bgcolor="CCC6C6"></td>
              <td width="1"></td>
              <td id="TabTitle" class="title2" onmouseover="ShowTabs(3)">热门新闻</td>
            </tr>
          </table>
          <table width="100%" border="0" cellspacing="0" cellpadding="0" class="abg">
            <tbody id="Tabs" style="display:">
              <tr>
                <td><table>
                  {Ky_最新文章}
                </table></td>
                <td width="170">{Ky_首页最新文章图片}</td>
              </tr>
            </tbody>
            <tbody id="Tabs" style="display:none;">
              <tr>
                <td><table>
                  {Ky_最新文章}
                </table></td>
                <td width="170">{Ky_首页最新文章图片}</td>
              </tr>
            </tbody>
            <tbody id="Tabs" style="display:none;">
              <tr>
                <td><table>
                  {Ky_最新文章}
                </table></td>
                <td width="170">{Ky_首页最新文章图片}</td>
              </tr>
            </tbody>
            <tbody id="Tabs" style="display:none;">
              <tr>
                <td><table>
                  {Ky_最新文章}
                </table></td>
                <td width="170">{Ky_首页最新文章图片}</td>
              </tr>
            </tbody>
          </table></td>
        <td width="5"> </td>
      </tr>
    </table></td>
    <td width="5">&nbsp;</td>
    <td width="210" valign="top" style="padding-top:5px;"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="bor1">
      <tr>
        <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="bg2">
          <tr>
            <td width="42" valign="top"><img src="/Template/images/icon3.gif"  /></td>
            <td>用户登录</td>
          </tr>
        </table></td>
        </tr>
      <tr>
        <td align="center" class="lobg2">{Ky_用户登陆}</td>
      </tr>
    </table></td>
  </tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="td2">
  <tr>
    <td valign="top" class="ybg_1" style="padding:5px 5px 0px 0px;"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="sbg" style="margin-bottom:5px;">
      <tr>
        <td width="51"><img src="/Template/images/sicon.gif" /></td>
        <td width="90">网站搜索：</td>
        <td>{Ky_搜索}</td>
      </tr>
    </table>
      <table width="100%" border="0" cellpadding="0" cellspacing="0" >
      <tr>
        <td valign="top" class="bor2">{Ky_栏目循环}</td>
        </tr>
    </table>
      <table width="100%" height="5" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td></td>
        </tr>
      </table>
    </td>
    <td width="5">&nbsp;</td>
    <td width="210" valign="top" style="padding-top:5px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><a href="http://www.kycms.com" target="_blank"><img src="/Template/images/ad1.gif" alt="酷源网站管理系统"  border="0" longdesc="http://www.kycms.com" /></a></td>
      </tr>
      <tr>
        <td height="5"> </td>
      </tr>
    </table>

		 <table width="100%" border="0" cellspacing="0" cellpadding="0" class="bg2 bor4">
          <tr>
            <td width="42" valign="top"><img src="/Template/images/icon3.gif"  /></td>
            <td>热门阅读排行</td>
          </tr>
        </table>
		 <table width="100%" border="0" cellspacing="0" height="244" cellpadding="0" class="bor5">
        {Ky_热门阅读}
    </table>
      <table width="100%" height="5" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td> </td>
        </tr>
      </table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="bg2 bor4">
              <tr>
                <td width="42" valign="top"><img src="/Template/images/icon3.gif"  /></td>
                <td>推荐阅读</td>
              </tr>
      </table>
    <table width="100%" border="0" cellspacing="0" height="244" cellpadding="0" class="bor5">{Ky_频道推荐}</table>
	<table width="100%" border="0" cellpadding="0" cellspacing="0" >
  <tr>
    <td height="5"> </td>
  </tr>
</table>
	</td>
  </tr>
</table>
{Ky_页脚链接}
</body>
</html>
